body {
	background-color: #000;
	font-family: monospace !important;
}

a {
	color: #0000aa;
}

a:visited {
	color: #0000aa;
}

p {
	color: #fff;
	font-family: monospace;
}

pre {
	color: #fff;
}

code {
	color: #00aa00;
}
