html, body, a {
        cursor: url('../cur/pointer.png'), auto !important;
}
html, body, a:hover  img:hover {
        cursor: url('../cur/default.png'), auto !important;
}

body {
        background-color: #ff80f1;
}

a {
        color: #b5010f;
}

h1, h2, h3, p {
        color: #474747;
        font-family: sans-serif;
        text-align: center;
}

.navbar {
        text-align: center;
        padding: 2px;
}

.navbar ul {
        list-style-type: none;
        display: inline-block;
}

.navbar li {

        display: inline-block;
        font-family: sans-serif;
}

.navbar a {
        font-size: 18px;
        padding: 14px;
        text-decoration: none;
}
