body {
  background-color: #151515;
  color: #ffc;
  font-family: sans-serif;
}

/*  Debugging centre line
body:after {
  content:"";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px dotted #dc312e;
  transform: translate(-50%);
}*/

a { text-decoration: none; }

a, a:visited { color: #08e; }

pre {
  color: #e80;
  font-family: monospace;
  font-weight: 700;
  
  /* Word-wrap CSS. */
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}
