#codebox {
  background-color: #404552;
  border: 2px solid #000;
}

#codebox pre {
  color: #D3DAE3;
  margin-left: 2px;
}

#codebox a {
  color: #aad6ff;
  text-decoration: none;
}

#codebox a:hover {
  text-decoration: underline;
}