#info p pre {
  font-size: 14px;
}

#searchbar {
  background-color: #222;
  color: #eee;
  font-size: 16px;
  width: 40%;
  height: 5%;
  padding: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

#searchbar::placeholder { color: #eee; }
#searchbar:-ms-input-placeholder { color: #eee; } /* IE. */
#searchbar::-ms-input-placeholder { color: #eee; } /* Edge. */
#searchbar::-webkit-input-placeholder { color: #eee; } /* Old WebKit. */
#searchbar:-moz-placeholder { color: #eee; } /* Old Firefox. */
#searchbar::-moz-placeholder { color: #eee; } /* Firefox. */

#div_lettertitle h4 {
  font-size: 18px;
  text-align: left;
}

#list-holder-a, #list-holder-b, #list-holder-d, #list-holder-e, #list-holder-f, #list-holder-g, #list-holder-h, #list-holder-i, #list-holder-j, #list-holder-k, #list-holder-l, #list-holder-m, #list-holder-n, #list-holder-o, #list-holder-p, #list-holder-r, #list-holder-s, #list-holder-t, #list-holder-u, #list-holder-v, #list-holder-y, #list-holder-oo, #list-holder-aa {
  list-style-type: none;
  text-align: left;
}
