* {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    -webkit-user-drag: none;
     -khtml-user-drag: none;
       -moz-user-drag: none;
        -ms-user-drag: none;
            user-drag: none;
  
   /* pointer-events: none; */
}

body {
  background-color: #000;
  overflow-x: hidden;
  overflow-y: hidden;
}

#formbackground {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

#login {
  color: #fff;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 100%;
  margin: 0 auto;
  margin-top: 10%;
  font-weight: lighter;
  text-align: center;
  width: 50%;
}

#login img {
  border-radius: 50%;
  pointer-events: none;
}

#login p1 {
  font-size: 400%;
  cursor: default;
}

#login input {
   padding: 10px;
   width: 33%;
   background-colour: yellow;
}

.textbox {
  border: 2px solid #efefef;
 
  background-colour: yellow;
}

#login button {
  background-image: url("img/button.png");
  background-color: #4286f4;
  background-size: cover;
  opacity: 0.3;
  border: none;
  color: #4286f4;
  margin-left: -40px;
  height: 35px;
  width: 40px;
  cursor: pointer;
}

#login button:hover {
  background-color: #4286f4;
  opacity: 0.5;
}

#login a {
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#time {
  color: #fff;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 800%;
  font-weight: lighter;
  text-align: left;
  position: absolute;
  bottom: 20%;
  left: 2%;
}

#day {
  color: #fff;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 400%;
  font-weight: lighter;
  text-align: left;
  position: absolute;
  bottom: 10%;
  left: 2%;
}

a {
    cursor: default;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
}

#footer {
  bottom: 0;
  right: 0;
  position: fixed;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
}

#footer-logos img {
  margin: 24px 24px;
}
  
